<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Ticket Tracker Application</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Ticket Tracker Application</a>
		<a class="navbar-brand" th:href="@{/tickets}"><small>Tickets</small></a>
		<a class="navbar-brand" th:href="@{/tickets/newTicket}"><small>New Ticket</small></a>
	</nav>
	<div class="container">
		<div class="row">
			<h1>List of Tickets</h1>
		</div>
		<div class="row">
			<div class="form-group">
				<form th:action="@{/search}" method="get">
					<input class="form-control mr-sm-2" type="text" , name="keyword" th:value="${keyword}"
						placeholder="Enter title to search">
					<button class="btn btn-info" type="submit">Search</button>
				</form>
			</div>
		</div>
		<br>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>#</th>
					<th>Ticket Title</th>
					<th>Ticket Short Description</th>
					<th>Ticket Created On</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<h5>No details found!</h5>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>